@model ROSARIOAPP.Models.Materia_Grado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Materia_Grado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grado.Idgrado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.materia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.materia.Idmateria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tutor)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
