@model ROSARIOAPP.Models.Estudiante

@{
    //ViewData["Title"] = "Delete";
    Layout = null;
}



<h6>¿Estas seguro que quieres eliminar esto?</h6>
<div>
    
    <hr />
    @*<dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.codigo)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdtutorNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdtutorNavigation.Idtutor)
        </dd>
    </dl>*@
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idestudiante" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
      
    </form>
</div>
