@model IEnumerable<ROSARIOAPP.Models.Estudiante>

@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title text-blue">Listado de estudiantes</h6>
                </div>
                <div class="card-body">

                    <!-- Modal -->
                    <div id="myModal" data-refresh="true" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModelLabel" aria-hidden="true"
                         style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Estudiante</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>
                                <div class="modal-body">
                                    <div class="align-content-center"
                                         id="modal-content">
                                        <h4 class="fa-align-center">Cargando..</h4>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col text-right">
                               
                                <a id="btnNuevo" data-toggle="modal" href="#myModal" class="btn btn-primary btn-sm"><i class="fas fa-plus"> Agregar estudiante</i></a>
                            </div>
                        </div>
                    </div>
                
                    <div class="container">
                        <div class="row">


                            <table class="display" id="estuTable" style="width:100%">

                                <thead>

                                    <tr>


                                        <th>
                                           Código
                                        </th>

                                        <th>
                                            Nombres
                                        </th>

                                        <th>
                                            Apellidos
                                        </th>

                                        <th>
                                            Fecha N
                                        </th>

                                        <th>
                                            Edad
                                        </th>

                                        <th>
                                            Sexo
                                        </th>


                                        <th>
                                            Departamento
                                        </th>

                                        <th>
                                            Ciudad
                                        </th>

                                        <th>
                                            Dirección
                                        </th>


                                        <th>Acciones</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.codigo)
                                        </td>
                                        <td>

                                            @Html.DisplayFor(modelItem => item.Nombres)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Apellidos)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.fecha_nac)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Edad)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sexo)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Departamento)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ciudad)
                                        </td>
                                        <td>

                                            @Html.DisplayFor(modelItem => item.Direccion)
                                        </td>

                                        <td>
                                            <a href="#myModal" class="btnDeta btn-light btn-sm" data-toggle="modal"
                                               data-id="@item.Idestudiante"><i class="fas fa-eye"></i></a>

                                            <a href="#myModal" class="btnEdit btn-primary btn-sm" data-toggle="modal"
                                               data-id="@item.Idestudiante"><i class="fas fa-edit"></i></a>


                                            <a href="#myModal" class="btnDelete btn-danger btn-sm" data-toggle="modal"
                                               data-id="@item.Idestudiante"><i class="fas fa-trash-alt"></i></a>

                                        </td>

                                    </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>



                <br />

            </div>
        </div>
    </div>




</div><!-- /.container-fluid -->


@section scripts
{
    <script>
        $(document).ready(function () {
            $('#estuTable').DataTable({

                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json", //para cambiar idioma a español
                },

                "scrollX": true,
                responsive: "true",
                dom: 'Bfrtilp', //llamado de botones
                buttons: [
                    {
                        extend: 'excelHtml5',//exportar a excell
                        title: 'Data export',
                        text: ' <i class="fas fa-file-excel"></i>',
                        className: 'btn btn-success',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, ] //exportar solo la primera y segunda columna
                        }

                    },
                    {
                        extend: 'pdfHtml5', //exportt
                        title: 'Reporte de  estudiantes',
                        messageTop: "Escuela Primaria el Rosario ",//Coloca el título dentro del PDF
                        text: '<i class="far fa-file-pdf"></i></button>',
                        className: 'btn btn-danger',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8,] //exportar solo la primera y segunda columna
                        }

                    },
                    {
                        extend: 'print',
                        title: 'Data export',
                        text: ' <i class="fas fa-print"></i>',
                        className: 'btn btn-info',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8] //exportar solo la primera y segunda columna
                        }

                    },

                ]
            });
        });
    </script>
    <script src="~/js/Estudiante/Estudiante.js"></script>

}
