@model ROSARIOAPP.Models.Grupo

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<h6 align="center">Detalles del grupo</h6>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Sección
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.seccion)
        </dd>
        <dt class="col-sm-2">
           Grado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdgradoNavigation.Grado1)
        </dd>
    </dl>
</div>
<div>
   
    <a align="Right" class="btn-sm btn-success" asp-action="CreateAsignar" asp-route-id="@Model.Idgrupo"><i class="fas fa-plus-square"></i></a> 

    
</div>


<h6 align="center">Asignar docente</h6> 


@if (Model.Asignar.Count == 0 ) 
{
 <h7> Este grupo no tiene asignación.</h7>
}
else
{

    //Muestra la lista de grupos asignados a docentes de dichos grupos
   
<table class="table"> 
    <thead class="thead-dark">
        <tr>
            <th>
               Docente 
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Asignar.FirstOrDefault().tutor)
            </th>
            <th>Accionss</th>
        </tr>
    </thead>
    <tbody>
        @*//Traido del modelo Asignar M a M*@
        @foreach (var item in Model.Asignar)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.docente.Fulldocente)
                </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.tutor)
                </td>
                <td>
                    @Html.ActionLink("Editar", "E", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Detalle", "DetailsAsignar", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Eliminar", "DeleteAsignar", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
}

