@model IEnumerable<ROSARIOAPP.Models.Nota_Matricula>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nota.Idnota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula.Idmatricula)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Idnota= item.Idnota, Idmatricula=item.Idmatricula}) |
                @Html.ActionLink("Details", "Details", new { Idnota = item.Idnota, Idmatricula = item.Idmatricula }) |
                @Html.ActionLink("Delete", "Delete", new { Idnota = item.Idnota, Idmatricula = item.Idmatricula })
            </td>
        </tr>
}
    </tbody>
</table>
