@model IEnumerable<ROSARIOAPP.Models.Matricula>

@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title text-blue">Listado de matriculas</h6>
                </div>
                <div class="card-body">

                    <!-- Modal inicio -->
                    <div id="myModal" data-refresh="true" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModelLabel" aria-hidden="true"
                         style="display: none;">
                        <div class="modal-dialog ">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Matricula</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>
                                <div class="modal-body">
                                    <div class="align-content-center"
                                         id="modal-content">
                                        <h4 class="fa-align-center">Cargando..</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    @*Fin del modal*@

                    <div class="container">
                        <div class="row">
                            <div class="col text-right">
                   
                                <a id="btnNuevo" data-toggle="modal" href="#myModal" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Agregar matricula</a>
                            </div>
                        </div>
                    </div>
                   @*//inicio de tabla*@
                    <table id="matriTable" class="table table-sm " style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    Código
                                </th>
                                <th>
                                    Estudiantes
                                </th>
                               
                                <th>
                                    Grupo
                                </th>

                                <th>
                                    Modalidad
                                </th>

                                <th>
                                    Año lectivo
                                </th>

                                <th>
                                    Repitente
                                </th>
                                <th>
                                    Tarjeta
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Observación
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdestudianteNavigation.codigo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdestudianteNavigation.Nombres)
                                    @Html.DisplayFor(modelItem => item.IdestudianteNavigation.Apellidos)

                                </td>
                                <td>


                                    @Html.DisplayFor(modelItem => item.IdgrupoNavigation.Fullgrupo)

                                </td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdmodalidadNavigation.Modalidad1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.año_lectivo)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.repitente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tarjeta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.estado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fecha_matricula)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.observacion)
                                </td>

                                @* Botones redirectorios *@

                                <td>
                                    <a href="#myModal" class="btnEdit btn-primary btn-sm" data-toggle="modal"
                                       data-id="@item.Idmatricula"><i class="fas fa-edit"></i></a>

                                    <a href="#myModal" class="btnDelete btn-danger btn-sm modal-sm" data-toggle="modal"
                                       data-id="@item.Idmatricula"><i class="fas fa-trash-alt"></i></a>



                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#matriTable').DataTable({


                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json", //para cambiar idioma a español
                },
               
                "scrollX": true,
                responsive: "true",
                dom: 'Bfrtilp', //llamado de botones
                buttons: [
                    {
                        extend: 'excelHtml5',//exportar a excell
                        title: 'Data export',
                        text: ' <i class="fas fa-file-excel"></i>',
                        className: 'btn btn-success',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8,9,10,11] //exportar solo la primera y segunda columna
                        }

                    },
                    {
                        extend: 'pdfHtml5', //exportt
                        title: 'Reporte de matriculas',
                        messageTop: "Escuela Primaria el Rosario ",//Coloca el título dentro del PDF
                        text: '<i class="far fa-file-pdf"></i></button>',
                        className: 'btn btn-danger',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] //exportar solo la primera y segunda columna
                        }

                    },
                    {
                        extend: 'print',
                        title: 'Data export',
                        text: ' <i class="fas fa-print"></i>',
                        className: 'btn btn-info',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] //exportar solo la primera y segunda columna
                        }

                    },

                ],

             initComplete: function () {
        this.api().columns().every( function () {
            var column = this;
            var select = $('<select><option value=""></option></select>')
                .appendTo( $(column.header()) )
                .on( 'change', function () {
                    var val = $.fn.dataTable.util.escapeRegex(
                        $(this).val()
                    );
 
                    column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                } );
 
            column.data().unique().sort().each( function ( d, j ) {
                select.append( '<option value="'+d+'">'+d+'</option>' )
            } );
        } );
    }
            });
        });
    </script>

    <script src="~/js/Matricula/Matricula.js"></script>


}




