@model ROSARIOAPP.Models.Asignar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Asignar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IddocenteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IddocenteNavigation.Iddocente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdgrupoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdgrupoNavigation.Idgrupo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idasignar">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
